.navbar {

  .navbar-brand .main-logo {
    width: 114px;
  }

  .navbar-menu {

    // Hack for Tablet Above Only
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    box-shadow: 0 0 0 rgba(0, 0, 0, 0);

    padding: 0.5rem 0;


    .navbar-item {
      display: flex;
      align-self: center;

      + .navbar-item {
        margin-left: 20px;
      }
    }

    .navbar-icon {
      padding: 0 5px;

      font-size: 24px;
      color: #fff;

      &:hover {
        background: transparent !important;
        color: $c-z-dark;
      }
    }
       
    // Search Bar
    .search-bar {
      flex-grow: 1;

      > .navbar-item {
        flex-grow: 1;
      }

      .field, .bar {
        width: 100%;
        max-width: 400px;
      }

      .z-input {
        background-color: transparent;
        border-radius: 0;
        border-width: 0;
        border-bottom-width: 1px;
        border-color: #fff;
        box-shadow: 0 0 0 rgba(0,0,0,0);

        &::placeholder {
          color: rgba(#fff, 0.8);
        }
      }

      .z-submit {
        @include size(36px, 36px);
        border-bottom: 1px solid #fff;
        padding: 5px;
      }
    }

    // User Avatar
    .is-avatar {
      padding: 0;

      .image {
        @include size(36px, 36px);
      }

      img {
        max-height: 100%;
      }

      &:hover {
        background: transparent !important;
      }
    }
  }

  @include tablet {
    padding: 0.5rem 1rem;
  }
}