.sidebar-toggle {
  flex-shrink: 0;
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  border-bottom: 1px solid $zazaar-grey;
  justify-content: flex-start;
  padding: 0 24px;
  color: $zazaar-grey;
  font-size: 20px;

  &:hover, &:focus {
    border-bottom: 1px solid $zazaar-grey;
    color: $zazaar-orange;
  }
}

.following {
  flex-wrap: wrap;
  flex-shrink: 0;
  overflow: hidden;

  .followed-user {
    width: 100%;
    overflow: hidden;
    padding: 10px 20px;

    &:hover {
      background-color: rgba($zazaar-grey, 0.3);
    }

    &__avatar {
      flex-shrink: 0;
      box-sizing: border-box;
      border-radius: 100%;
      padding: 2px;
      margin-right: 10px;
    }

    &__name {
      font-size: 14px;
      color: #fff;
      line-height: 30px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &.online {
      .followed-user__avatar {
        box-shadow: 0 0 0 1px $zazaar-orange;
      }
    }

    &.offline {
      .followed-user__avatar {
        filter: grayscale(100%);
      }
      .followed-user__name {
        color: $zazaar-grey;
      }
    }
  }
}

.z-footer {
  border-top: 1px solid $zazaar-grey;
  padding: 20px;

  .guide-links {
    font-size: 14px;

    .item{
      color: $warm-grey;
      line-height: 24px;
    }
  }

  .copyright {
    font-family: Lato;
    font-size: 14px;
    color: $zazaar-orange;
    padding-top: 20px;
  }
}