.main-sidebar{
  flex-shrink: 0;
  order: 2;

  width: 20%;
  max-width: 200px;

  .sidebar-toggle {
    height: 40px;

    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    border-bottom: 1px solid $c-z-grey;

    padding: 0 24px;
    margin-bottom: 10px;

    color: $c-z-grey;
    font-size: 18px;

    &:hover {
      border-bottom: 1px solid $c-z-grey;
      color: $c-z-light;
    }
  }

  .following {
    flex-shrink: 0;
  
    &__user {
      width: 100%;
      overflow: hidden;
      padding: 10px 20px;
  
      &:hover {
        background-color: rgba($c-z-grey, 0.3);
      }
  
      &__avatar {
        flex-shrink: 0;
        box-sizing: border-box;
        border-radius: 100%;
        padding: 2px;
        margin-right: 10px;
      }
  
      &__name {
        font-size: 14px;
        color: #fff;
        line-height: 30px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
  
      &.online {
        .following__user__avatar {
          box-shadow: 0 0 0 1.5px $c-zazaar;
        }
      }
  
      &.offline {
        .following__user__avatar {
          filter: grayscale(100%);
        }
        .followed__user__name {
          color: $c-z-grey;
        }
      }
    }
  }

  .more-btn {
    background: transparent;
    border-width: 0;
    cursor: pointer;
    padding: 15px 20px;

    font-family: Lato;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.7px;
    transition: color, 0.3s;

    &:hover {
      color: $c-zazaar;
    }
  }

  // 收合樣式
  &.is-collapsed {
    width: 60px;

    .following__user{
      padding: 10px 13px;

      &__name{
        display: none;
      }
    }

    .more-btn {
      padding: 15px 12px;
      text-align: center;
    }

    footer {
      display: none;
    }
  }
}