<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello ZaZaar!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body data-js-view-path="<%= js_view_path(@conn, @view_template) %>">
    <section role="nav" class="section main-nav is-paddingless">
      <%= render("main_nav.html", conn: @conn) %>
    </section>

    <section role="following" class="section following is-paddingless">
      <%= render("following.html", conn: @conn) %>
    </section>

    <section role="main" class="section">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
