<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello ZaZaar!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  </head>

  <body data-js-view-path="<%= js_view_path(@conn, @view_template) %>" class="<%= view_name(@conn) %> <%= template_name(@view_template) %>">
    <nav class="navbar is-flex with-shadow" role="navigation" aria-label="main navigation">
      <%= render("main_nav.html", conn: @conn) %>
    </nav>

    <main class="main-container is-flex">

      <aside role="sidebar" class="z-sidebar is-flex">
        <%= render("sidebar.html", conn: @conn) %>
      </aside>

      <section role="main" class="z-main is-flex">
        <%= render @view_module, @view_template, assigns %>
      </section>

    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
