<section class="section main-nav">
  <div class="container">
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src=" <%= static_path(@conn, "/images/zazaar_logo.png") %>" alt="zazaar_logo" id="logo"/>
        </a>
      </div>
    </nav>
  </div>
</header>
