<div class="stream-viewing is-flex">
  <%= render(ZaZaarWeb.LayoutView, "_stream_panel.html", conn: @conn) %>
</div>

<script charset="utf-8">

  window.streamConfig =
    {
      streamer_id: "<%= @streamer_id %>",
      jwt: "<%= current_token(@conn) %>",
    }

</script>
