<div class="content">
  <h1>你的直播！</h1>
</div>

<%= render(ZaZaarWeb.LayoutView, "_stream_panel.html") %>

<script charset="utf-8">

  window.streamConfig =
    {
      streamer_id: "<%= @streamer_id %>",
      jwt: "<%= current_token(@conn) %>",
    }

</script>
