/* Color palette */
$zazaar-orange: #fd5f00;
$zazaar-light:  #fa9856;
$zazaar-dark:   #243342;
$zazaar-grey:   #455a64;
$dark-grey:     #4a4a4a;
$warm-grey:     #9b9b9b;
$light-grey:    #dddddd;
$marble:        #fafafa;

/* Base: */
.with-shadow {
  box-shadow: 0 2px 4px 0 rgba(36,51,66,0.30);
}

/* Layouts styles */
html, body {
  height: 100%;
}