/* Color palette */
$c-zazaar: #fd5f00;
$c-z-light:#fa9856;
$c-z-red:  #D0021B;
$c-z-dark: #243342;
$c-z-grey: #455a64;
$c-dark:   #4a4a4a;
$c-warm:   #9b9b9b;
$c-light:  #dddddd;
$c-marble: #fafafa;

/* Customized Helpers */

.is-flex-wrap         {flex-wrap: wrap;}
.is-flex-column       {flex-direction: column;}
.is-justified-center  {justify-content: center;}
.is-justified-start   {justify-content: flex-start;}
.is-justified-end     {justify-content: flex-end;}
.is-justified-around  {justify-content: space-around;}
.is-justified-between {justify-content: space-between;}
.is-aligned-start     {align-items: flex-start;}
.is-aligned-center    {align-items: center;}
.is-aligned-end       {align-items: flex-end;}
.is-aligned-stretch   {align-items: stretch;}
.is-aligned-around    {align-items: space-around;}
.is-aligned-between   {align-items: space-between;}
.is-aligned-self-end  {align-self: flex-end;}

.has-text-zazaar {color: $c-zazaar;}

.has-background-zazaar {background-color: $c-zazaar;}
.has-background-z-dark {background-color: $c-z-dark;}

.has-z-gradient {background-image: linear-gradient(to top, $c-zazaar, rgba(#fff, 0));}

.has-shadow {box-shadow: 0 2px 4px 0 rgba($c-z-dark ,0.3) !important;}

/* Overwritten Bulma */

.button {
  border-radius: 2px !important;

  &.is-outlined {
    background-color: transparent;
    border-color: #fff;
    color: #fff;

    &:hover, &:focus {
      background-color: #fff;
      border-color: #fff;
      color: $c-zazaar;
    }
  }
    
  &--zazaar {
    background-color: $c-z-dark;
    border: 1px solid $c-z-dark;
    transition: all 0.3s;
    color: #fff;
    margin-bottom: -2px;

    &:hover {
      border-color: $c-zazaar !important;
      color: $c-zazaar !important;
    }

    .fa-bullseye {
      padding-top: 1px;
      margin-right: 5px;
    }
  }
}

// .more-btn {
//   font-family: Lato;
//   font-size: 12px;
//   color: #fff;
//   letter-spacing: 0.7px;
//   padding: 15px 20px;
//   transition: color, 0.3s;

//   &:hover {
//     color: $zazaar-orange;
//   }
// }


// /* Typography Helpers */
// .section-title {
//   font-family: NotoSansTC;
//   font-size: 18px;
//   color: $zazaar-orange;

//   border-bottom: 1px solid $zazaar-orange;
//   margin-bottom: 20px;
// }

// /* Layouts styles */
// html, body {
//   height: 100%;
//   font-family: -apple-system, BlinkMacSystemFont, Noto Sans TC, "微軟正黑體", Helvetica, sans-serif;
// }

// .main-container{
//   height: calc( 100% - 60px );
//   box-sizing: border-box;
//   overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
// }

// .z-main, .z-sidebar{
//   flex-direction: column;
//   height: 100%;
//   overflow-y: scroll;
// }

// .z-main {
//   order: 1;
//   flex-grow: 2;
// }

// .z-sidebar{
//   order: 2;
//   flex-shrink: 0;
//   width: 20%;
//   max-width: 200px;
//   background-color: $zazaar-dark;

//   &.is-collapsed {
//     width: 60px;

//     .followed-user{
//       padding: 10px 13px;

//       .user-name{
//         display: none;
//       }
//     }

//     .more-btn {
//       padding: 15px 12px;
//       text-align: center;
//     }

//     footer {
//       display: none;
//     }
//   }
// }

// .content {
//   padding: 40px;
// }

// .video-player {
//   position: relative;
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: cover;

//   &__header {
//     font-size: 14px;
//     background-color: rgba(#fff, 0.5);
//     border-radius: 2px;
//     padding: 2px 6px;
//     margin: 10px;
//     color: $zazaar-dark;

//     .fa-bullseye {
//       color: $zazaar-red;
//     }
//   }

//   &__control-bar {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     height: 60px;

//     justify-content: space-between;
//     padding: 25px 30px 0;
//     font-size: 17px;
//     color: #fff;

//     svg + svg {
//       margin-left: 10px;
//     }

//     .fa-volume-down {
//       font-size: 20px;
//     }
//   }

//   &__footer {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//   }

//   &__avatar {
//     width: 36px;
//     height: 36px;
//     margin: 10px;
//   }

//   &__title {
//     font-size: 14px;
//     color: #fff;
//     line-height: 56px;
//   }
// }