$bright-orange: #fd5f00; //hsl(23 100 99);
$orange: #fa9856; //hsl(28 74 98);
$slate: #455a64; //hsl(199 31 39);
$dark: #243342; //hsl(210 45 26);
$dark-two: #22282d; //hsl(207 24 18);
$clear: rgba(0, 0, 0, 0);
