.following {
  background-color: $dark;

  .level-item {

    img.online {
      border: solid 2px $bright-orange;
    }

    img.offline {
      filter: grayscale(100%);
    }
  }

  .container {
    padding: 10px 20px;
  }
}
