.live-stream {
  width: 100%;
  max-width: 840px;
  padding: 40px;
  margin: 0 auto;
}

.popular-stream {
  flex-direction: column;
  width: 100%;
  border: 1px solid $zazaar-light;
  margin-bottom: 30px;
}

.featured-stream {

  .video-player {
    height: 315px;

    @include desktop {
      height: 420px;
    }
  }

  &__avatar {
    width: 60px;
    height: 60px;
    margin: 15px 20px;
  }

  &__info {
    margin: 20px 0;
  }

  &__title {
    font-size: 16px;
  }

  &__name {
    font-size: 14px;
    color: $warm-grey;
  }
}

.top-streams {
  border-top: 1px solid $zazaar-light;
  padding: 15px 0;

  .video-player {
    height: 100px;

    @include desktop {
      height: 120px;
    }

    &__header {
      margin: 5px;
    }
  }

  &__block {
    width: calc(100% / 3);
    padding: 0 20px;

    & + & {
      border-left: 1px solid $zazaar-light;
    }
  }

  &__title {
    font-size: 14px;
    margin-top: 5px;
  }
}

.stream {
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -5px;

  .video-player {
    height: 196px;

    @include desktop {
      height: 225px;
    }
  }

  &__block {
    width: 50%;
    padding: 5px
  }

}