.stream-viewing {

  &__main {
    position: relative;
    width: calc( 100% - 245px);
    height: calc( 100vh - 60px);
    background: #282828;
  }

  &__chatroom {
    width: 245px;
    background: $zazaar-dark;
    border-right: 1px solid $dark-grey;
  }
}

.streamer {

  &__window {
    width: 100%;
    height: calc( 100% - 100px);
  }

  &__intro {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    height: 100px;
    padding: 25px;
  }

  &__avatar {
    width: 50px;
    height: 50px;
  }

  &__info {
    margin-left: 20px;
  }

  &__title {
    font-size: 20px;
  }

  &__name {
    font-size: 14px;
    color: $warm-grey;
  }

}

.message {

  &__title {
    border-bottom: 1px solid $zazaar-grey;
    height: 40px;
    padding-left: 20px;
    font-size: 14px;
    color: $zazaar-light;
    line-height: 40px;
  }

  &__log {
    height: calc( 100% - 148px );
    padding: 10px;
    overflow: hidden;
  }
  
  &__input {
    padding: 10px;

    .textarea {
      border: 1px solid $zazaar-light;
      background-color: rgba(0,0,0,0) !important;
      border-radius: 0px;
      min-height: 60px;
      font-size: 12px;
      color: $zazaar-light;

      &::placeholder {
        color: rgba($zazaar-light, 0.5);
      }
    }

    .msgSubmit, .msgSubmit:focus {
      border: 1px solid $zazaar-light;
      border-radius: 0px !important;
      background-color: rgba(0,0,0,0) !important;
      float: right;
      width: 60px;
      height: 24px;
      padding: 0;
      margin-top: 5px;
  
      font-size: 12px;
      color: $zazaar-light;
      line-height: 22px;
  
      &:hover {
        border: 1px solid $zazaar-light !important;
        background-color: $zazaar-light !important;
        color: #fff;
      }
    }
  }
}