zazaar.Elixir.ZaZaarWeb.Endpoint.secret_key_base = "{{ secret_key_base }}"

zazaar.Elixir.ZaZaar.Repo.adapter = Elixir.Ecto.Adapters.Postgres
zazaar.Elixir.ZaZaar.Repo.username = "{{ elixir_release_name_code }}"
zazaar.Elixir.ZaZaar.Repo.password = "{{ db_pass }}"
zazaar.Elixir.ZaZaar.Repo.database = "{{ elixir_release_name_code }}_prod"
zazaar.Elixir.ZaZaar.Repo.hostname = "{{ db_host }}"
