<h1>Inidividual Stream Page</h1>

<div id="subscriber" style="height:300px; width:300px;">

</div>

<script charset="utf-8">

  window.streamConfig =
    {
      key: "<%= @opentok_params.key %>",
      sessionId: "<%= @opentok_params.session_id %>",
      token: "<%= @opentok_params.token %>"
    }

</script>
