<h1>Inidividual Stream Page</h1>

<h3>
  stream_id: <%= @stream_id %>
</h3>

<h3>
  stream: <%= @opentok_params.session_id %>
</h3>

<h3>
  token: <%= @opentok_params.token %>
</h3>

<div class="subscriber" style="height:300px; width:300px;">

</div>
