<script charset="utf-8">

  window.streamConfig =
  {
    key: "<%= @opentok_params.key %>",
    session_id: "<%= @opentok_params.session_id %>",
    token: "<%= @opentok_params.token %>"
  }

</script>
