<div class="live-stream">
  <% if false do %>
    <h2 class="section-title">熱門賣場</h2>
    <%= render("_popularStream.html", conn: @conn) %>
  <% end %>

  <h2 class="section-title">推薦賣場</h2>
  <div class="stream is-flex">
    <%= render_many @channels, __MODULE__, "_stream.html", as: :channel, conn: @conn %>
  </div>
</div>
