<div class="content">
  <h1> <%= @streamer.name %>的直播賣場！</h1>
</div>

<%= render(ZaZaarWeb.LayoutView, "_stream_panel.html") %>

</div>

<script charset="utf-8">

  window.streamConfig =
    {
      streamer_id: "<%= @streamer.id %>",
      jwt: "<%= current_token(@conn) %>"
    }

</script>
