<div class="stream-viewing is-flex">
  <%= render(ZaZaarWeb.LayoutView, "_stream_panel.html", conn: @conn, comments: @comments) %>
</div>

<script charset="utf-8">

  window.streamConfig =
    {
      stream_id: "<%= @stream.id %>",
      jwt: "<%= current_token(@conn) %>"
    }

</script>
